player-connection-mode=Listen
player-connection-guid=3233325334
player-connection-debug=0
player-connection-project-name=final
player-connection-ip=192.168.74.1
player-connection-ip=192.168.152.1
player-connection-ip=192.168.0.139
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=8d1402557b104106af5958b8889c5c97
